<div class="body" fxLayout="row" fxLayoutAlign="center center">
  <div class="timer-holder" fxLayout="column" fxLayoutAlign="center center">
    <div class="reset-holder">
      <button class="reset" mat-icon-button (click)="resetCounterToZero()" [matBadgeHidden]="(counter$ | async) === 0"  [matBadge]="counter$ | async"   >
        <mat-icon class="timer-icon" matBadgeColor="warn">mail_outline</mat-icon>
      </button>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px">
      <button  class="start-button" [disabled]="isTicking" (click)="assignTickerStatus(true)"  mat-raised-button color="primary">Start receiving</button>
      <button  class="pause-button" [disabled]="!isTicking"  mat-raised-button (click)="assignTickerStatus(false)"  color="accent">Stop receiving</button>
    </div>
  </div>
</div>
